@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300&family=Montserrat:wght@100;300;700&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

.navegacion {
    padding-top: 50px;
    padding-bottom: 45px;
}

.navegacion__menu {
    text-align: end;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    position: relative;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
}

.navegacion__link a{
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    padding: 5px;
    position: relative;
}

.navegacion__link a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.navegacion__link a:hover::before {
    transform: scaleX(1);
}

.navegacion__link a:hover {
    font-weight:bold;
    color: gray;
}

.navegacion__logo {
    width: 120px; 
    position: absolute;
    top: 10px;
    left: 20px;
}
.conteinerMate {
    width: 100%
}
.conteinerMate img {
    width: 100%;
    opacity: 0.6;
}
.title {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;    
    text-align: center;
    color: #E25C5A;
}

.subtitle {
    font-size: 2.5rem;
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    text-align: center;
    color: grey;
}

.introduccion {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.5rem;
}

.introduccion a{
    text-decoration: none;
    color: black;
}
.linea {
    background-color: gray;
    height: 3px;
    margin: 1%;
}

.redes a{
    text-decoration: none;
    color: gray;
}
.redes a i:hover{
    color: #E25C5A;
    transform: scale(1.1);
    transition: ease-in-out .3s;
}
.redes {
    display:flex;
    width: 100%;
}

.redes__menu {
    width: 100%;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    position: relative;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.redes__menu a {
    margin: 1rem;
    position: relative;
    text-decoration: none;
    color: gray;
    font-weight: 300;
}

.redes__menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.redes__menu a:hover::before {
    transform: scaleX(1);
}

.redes__menu a:hover {
    font-weight: bold;
    color: gray;
}

.redes__footer {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.redes__footer a {
    display: flex;
    justify-content: end;
    margin-right: 2%;
}


.redes__iconos {
    text-decoration: none;
    color: gray;
    font-size: 30px;
}

.redes__title {
    margin-right: 3%;
    font-size: rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: #E25C5A;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    font-style: oblique;
}

/* PESTAÑA PRODUCTOS */

.mates {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    row-gap: 20px;
}

.tipoMate {
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    color: GRAY;
    font-weight: 400;
    text-align: start;
    margin-left: 2%;
    text-decoration: underline;
}

h3 {
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    text-align: start;
    margin-left: 2%;
    color: gray;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 2%;
}

.descripcion {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 2%;
    margin-right: 2%;
}

/* PESTAÑA P FRECUENTES */

.respuesta {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
}

/* PESTAÑA NOSOTROS */

.fotoNosotros {
    margin-left: 50px;
    width: 350px;
    border-radius: 50%;
    filter:grayscale(50%)
}

.fotoNosotros:hover {
    filter: none;
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}

.textNosotros {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.wave{
    width: 100%;
}

/* PESTAÑA CONTACTO */

.heroContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContacto {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-top: 1.5%;
    color: #E25C5A;
}

.subtitleContacto {
    font-size: 2.5rem;
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    margin-top: 2%;
    color: gray;
    text-align: center;
}

.copyrightContacto{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    font-style: oblique;
}
.menuContacto {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
    list-style: none;
}

.menuContacto a {
    position: relative;
    text-decoration: none;
    color: gray;
}
.menuContacto a i:hover{
    color: #E25C5A;
    transform: scale(1.1);
    transition: ease-in-out .3s;
}

.menuContacto a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menuContacto a:hover::before {
    transform: scaleX(1);
}

.menuContacto a:hover {
    font-weight: bold;
    color: gray;
}
.redesContacto{
    margin-top: 10%;
}
.redesContacto a i:hover{
    color: #E25C5A;
    transform: scale(1.1);
    transition: ease-in-out .3s;
}

.mapaContacto {
    border-radius: 2%;
    width: 100%;
}
.iconosContacto {
    text-decoration: none;
    align-self: center;
    color: gray;
    font-size: 70px;
    margin: 30% 0%;
}

.iconosContacto a i:hover{
    color: #E25C5A;
    transform: scale(1.1);
    transition: ease-in-out .3s;
}

.btn {
    padding: 15px;
    margin-left: 40%;
    margin-top: 5%;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #E25C5A;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    animation: scale-up-center 0.4s none;
}

@keyframes scale-up-center {
    0% {
    transform: scale(0.5);
    }
    100% {
    transform: scale(1);
    }
}

/* MEDIA QUERIES */

/*Desde 1025px*/
@media screen and (min-width: 1025px){
    .redes__menu a {
        font-size: 0.8rem;
    }
    .redes__menu {
        width: 180%;
    }
    .title {
        font-size: 3.5rem;
    }
    .subtitle {
        font-size: 3rem;
    }
    .introduccion {
        font-size: 1.5rem;
        text-align: center;
    }
}

/*Hasta 1024px*/
@media screen and (max-width: 1024px) {
    .redes__menu a {
        font-size: 0.7rem;
    }
    .redes__menu {
        width: 180%;
    }
    .introduccion {
        text-align: center;
    }
}

/*Hasta 768px*/
@media screen and (max-width: 768px) {
    .navegacion__menu {
        font-size: 0.9rem;
    }
    .redes__menu a {
        font-size: 0.5rem;
    }
    .title {
        font-size: 3.5rem;
    }
    .subtitle {
        font-size: 3rem;
    }
    .introduccion {
        font-size: 2rem;
        text-align: center;
    }
    .redes__title {
        font-size: 1rem;
    }
    .redes__iconos {
        font-size: 20px;
    }
    /* Pestaña NOSOTROS hasta 768px*/
    .fotoNosotros {
        width: 250px;
        margin-bottom: 10%;
    }
}


/*Hasta 425px*/
@media screen and (max-width: 426px){
    .navegacion__menu {
        font-size: 0.4rem;
    }
    .navegacion__logo{
        width: 70px;
    }
    .navegacion {
        padding-top: 35px;
        padding-bottom: 25px;
    }
    .introduccion {
        font-size: 1.5rem;
    }   
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 2.5rem;
    }
}