@import "./variables";
@import "./map";
@import "./mixins";

body {
    display: grid;
}

.conteinerMate {
    width: 180vh;
    max-height: 75vh;
}
.conteinerMate img {
    @extend .conteinerMate;
    opacity: 0.8;
}

.title {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;    
    text-align: center;
    color: map-get($map: $colores, $key: title);
}

.subtitle {
    font-size: 2rem;
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    text-align: center;
    color: map-get($map: $colores, $key: subtitle);
}

.linea {
    background-color: map-get($map: $colores, $key: subtitle);
    height: 3px;
    margin: 1%;
}

.introduccion {
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: map-get($map: $colores, $key: subtitle);
    justify-content: center;
    text-align: center;
}
.introduccion a{
    text-decoration: none;
    color: map-get($map: $colores, $key: subtitle);
}

.imagen__mate {
    width: 40vh;
    text-align: center;
    border-radius: 50%;
}

.copyright {
    font-family: $fuente;
    font-size: 0.9rem;
    text-align: center;
    font-style: oblique;
}

.pregunta {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    text-align: start;
    margin-left: 8%;
    color: map-get($map: $colores, $key: subtitle);
}

h4 {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 2%;
}

.respuesta {
    font-size: 1rem;
    font-family: $fuente;
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
}

.propiedades {
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: black;
    justify-content: center;
    text-align: center;
    letter-spacing: 4px;
}