@import "./variables";
@import "./map";
@import "./mixins";

body {
    display: grid;
}

.conteinerMate {
    width: 180vh;
    max-height: 75vh;
}
.conteinerMate img {
    @extend .conteinerMate;
    opacity: 0.8;
}

.title {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;    
    text-align: center;
    color: map-get($map: $colores, $key: title);
}

.subtitle {
    font-size: 2rem;
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    text-align: center;
    color: map-get($map: $colores, $key: subtitle);
}

.introduccion {
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: black;
    justify-content: center;
    text-align: center;
}
.introduccion a{
    text-decoration: none;
    color: map-get($map: $colores, $key: subtitle);
}

.imagen__mate {
    width: 40vh;
    text-align: center;
    border-radius: 50%;
}

.copyright {
    font-family: $fuente;
    font-size: 0.9rem;
    text-align: center;
    color: white;
}

.pregunta {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    text-align: start;
    margin-left: 8%;
    color: gray;
}

h4 {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-left: 3%;
    font-weight: bold;
    color: gray;
}

.respuesta {
    font-size: 1rem;
    font-family: $fuente;
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
}

.propiedades {
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: black;
    justify-content: center;
    text-align: center;
    letter-spacing: 4px;
}

.footer {
    margin-top: 1%;
    width: 100%;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;    
    color: white;
}

.footer:hover {
    color:black;
}

.info {
    background-image: url(/img/Perita1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.info__capa {
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-out;
    color: white;
    opacity: 0;
}

.info .info__capa:hover {
    opacity: 1;
    visibility: visible;
}
.grilla {
    margin: 0 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 2rem;
    justify-items: center;
}

.diseño {
    position: relative;
    width: 90%;
}

.diseño__title {
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-out;
    color: white;
    opacity: 0;
    text-decoration: none;
}
.diseño__title:hover {
    opacity: 1;
    visibility: visible;
}
.diseño__mate img {
    width: 100%;
    height: auto;
}

