
@media screen and (max-width: 768px) {
    .hero__title {
        font-size: 3rem;
    }
    .navbar-toggler {
        padding: 1.5%;
    }
    .redes__pagos i {
        border-right: none;
    }
    .grilla {
        width: 80%;
        margin: 0 2.5rem;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    .diseño__title {
        font-size: 2rem;
    }
    .footer {
        font-size: 1rem;
    }
    .redes__iconos {
        font-size: 30px;
    }
    .copyright {
        font-size: 0.5rem;
    }
    .nosotros__foto {
        width: 270px; 
        margin-bottom: 3rem;
    }
    .nosotros__txt {
        font-size: 1.1rem;
        margin: 0 1rem;
    }
    .btn {
        padding: 10px;
        font-size: 0.8rem;
        letter-spacing: 2px;
        margin: 0 5rem;
    }
    .form {
        margin: 0 0.5rem;
    }
    .contacto__mapa {
        margin-top: 2rem;
    }
    .contacto__subtitle {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    .mate__introduccion {
        margin: 0 1rem;
        font-size: 1rem;
    }
    .mate__tipo {
        margin: 0 1.5rem;
    }
    .mate__descripcion {
        margin: 0 1.5rem;
        font-size: 1rem;
    }
    h4 {
        margin: 0 1.5rem;
    }
}


@media screen and (max-width: 425px) {
    .grilla {
    width: 80%;
    margin: 0 2.5rem;
    }
    .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    }
}