@import "./variables";
@import "./map";
@import "./mixins";

.navegacion {    
    &__logo {
        width: 100px;
        margin-left: 10px;
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
        text-align: end;
        font-size: 0.9rem;
        font-family: $fuente1;
        @include menu;
    }
    &__link a {
        text-decoration: none;
        font-weight:bold;
        color: map-get($map: $colores, $key: subtitle);
        margin: 0 10px;
        padding: 5px;
        position: relative;
    }
    &__link a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }
    &__link a:hover::before {
        transform: scaleX(1);
    }
    &__link a:hover {
        color: $negro;
    }

}