@import "./variables";

.redes {
    display:flex;
    width: 100%;
    & a{
        text-decoration: none;
        color: $gray;
    }
    & a i:hover{
        color: $colorTitle;
        transform: scale(1.1);
        transition: ease-in-out .3s;
    }

    &__menu {
        width: 100%;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        position: relative;
        display: flex;
        justify-content: flex-start;
        list-style: none;
        text-decoration: none;
        align-items: center;
    }
    &__menu a {
        margin: 1rem;
        position: relative;
        text-decoration: none;
        color: $gray;
        font-weight: 300;
    }
    &__menu a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }
    &__menu a:hover::before {
        transform: scaleX(1);
    }
    &__menu a:hover {
        font-weight: bold;
        color: $gray;
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: baseline;
    }
    &__footer a {
        display: flex;
        justify-content: end;
        margin-right: 2%;
    }

    &__iconos {
        text-decoration: none;
        color: $gray;
        font-size: 30px;
    }
    
    &__title {
        margin-right: 3%;
        font-size: rem;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: $colorTitle;
    }
}