@import "./variables";
@import "./map";
@import "./mixins";

.redes {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    & a{
        text-decoration: none;
        color: map-get($map: $colores, $key: subtitle);
    }
    & a i:hover{
        color: map-get($map: $colores, $key: title);
        transform: scale(1.1);
        transition: ease-in-out .3s;
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
    &__footer a {
        margin: 0 7%;
    }
    &__iconos {
        text-decoration: none;
        color: white;
        font-size: 40px;
    }
    &__title {
        margin-right: 3%;
        font-size: rem;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: map-get($map: $colores, $key: title);
    }
    &__pagos {
        font-size: 40px;
        color: gray;
        background-color: $blanco;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__pagos i {
        border-right: 1px solid $gris;
    }
    &__pagos p {
        font-size: 1rem;
        color: map-get($map: $colores, $key: title);
        margin-top: 5%;
    }
}