

$rosa: #E25C5A;
$gris: gray;
$blanco: white;
$negro: black;



$fuente1: 'Montserrat', sans-serif;
$fuente2: 'Bebas Neue', cursive;
$fuente3: 'Open Sans', sans-serif;
$fuente4: 'Dongle', sans-serif;



$tamaño1: 1.2rem;
$tamaño2: 2rem;
$tamaño3: 3rem;
